@charset "UTF-8";

body {
    background-color: rgb(138, 207, 138);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(42, 119, 42);
}

h1#principal {
    text-align: center;
    background-color: rgb(42, 119, 42);
    color: white;
}

h2 {
    color: rgb(50, 83, 50);
}

.basico {
    color: rgb(61, 61, 126);
}

.intermediario {
    color: rgb(131, 131, 51);
}

.avancado {
    color: rgb(134, 49, 49);
}

.destaque {
    background-color: yellowgreen;
}